

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body{ margin:0 !important;  font-family: 'Open Sans', sans-serif;}



/*======== header top menu design ============*/

#navbar .logo img {
    max-height: 50px;
}
.region-header .name.navbar-brand {
    display: none;
	background:none;
}
.top_search {
    float: right;
    margin-bottom: 10px;
    margin-top: 15px;
    max-width: 660px;
    width: 100%;
}

.top_search .region.region-social-icon {
    margin: 8px 0;
}

.top_search .region.region-translater {
    margin-top: 8px;
}
.top_search .region.region-search-bar .form-group {
    margin-bottom: 0;
}
.navbar {
    border-radius: 0;
	border:none;
	background:none;
	margin-bottom:0;
}

.menu_section {
    background: #069eed;
    border-bottom: 5px solid #067bb7;
    overflow: hidden;
}
.block-superfishmain .menu.sf-menu li a {
    color: #fff;
    display: table-cell;
    font-weight: 700;
    height: 70px;
    vertical-align: middle;
	min-width: 160px;
    text-align: center;
	font-size:16px;
	text-decoration:none;
	position:relative;
}

#navbar > .container {

}
.top_search .search-block-form .form-type-search .input-group input[type="search"] {
    border: 1px solid #069eed;
    border-radius: 50px;
    overflow: hidden;
	height:40px;
	margin-top:0;
}


.top_search .search-block-form .form-type-search .input-group-btn {
    bottom: 0;
    position: absolute;
    right: 35px;
}
.top_search .search-block-form .form-type-search .input-group-btn button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #069eed;
    position: relative;
    z-index: 99;
	color:#a5e040;
}


.top_search .search-block-form .form-type-search .input-group {
    position: relative;
    width: 100%;
}
 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
    color: #a5e040;
}
.header-social-icon a {
    font-size: 20px;
    padding: 0 10px;
}

#block-languagedropdownswitcher .select-wrapper > select {
    border: none;
    width: 100% !important;
	color:#069eed;
}

#block-languagedropdownswitcher {

    float: left;
    max-width: 100px;
	
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
 {
    background:none !important;
    color:#a5e040;
}

.navbar-default .navbar-nav > .active > a{ position:relative;}
.navbar-default .navbar-nav > .active > a::after,
.block-superfishmain .menu.sf-menu li a.is-active::after
{
    background: #a5e040 ;
    content: "";
    height: 7px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 99%;
}



/*================= contant =======================*/



.top_search .search-block-form .form-type-search .form-control::-moz-placeholder
{
	color:#a5e040;
}








/*=================end  contant =======================*/
/*
==================== home slider ==================*/

.home_slider {
    overflow: hidden;
}
.home_slider p img {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}






/*
==================== End home slider ==================*/








/*
==================== twitter radio section ==================*/

.twitter_radio_section .region-clarkston-social-media .block-title {
    font-size: 40px;
}

.twitter_radio_section {
    padding: 80px 0;
}
.TweetAuthor-name {
    font-weight: lighter;
}


.SandboxRoot.env-bp-550 .timeline-Tweet-text {
    font-size: 14px;
}


/*=============================
          homepage baneer
==============================*/



.home_slider .views_slideshow_pager_field_item {
    background: rgba(25, 159, 229,0.87);
    float: left;
    margin:0 10px 5px;
    min-height: 100px;
    padding: 0;
    text-align: center;
    width: 160px;
	cursor:pointer;
}
.home_slider .views_slideshow_pager_field_item:nth-child(2n) {
    background: rgba(113, 151, 59, 0.89);
}

.home_slider .widget_pager_bottom {
    bottom: 20px;
    left: 30px;
    margin: auto;
    position: absolute;
    right: 30px;
    z-index: 999;
	width:100%;
	max-width:1280px;
}
.home_slider .views-field-field-icon-image img {
    display: block;
    margin: auto;
}
.home_slider  .views-content-field-icon-image {
    padding: 15px 0 0;
	 min-height: 75px;
}

.home_slider .views-field-title {
    color: #ffffff;
    display: table;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.home_slider .views-field-title .views-content-title {
    display: table-cell;
    font-size: 15px;
    height:60px;
    max-width: 17px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
	 padding: 0 25px;
	 font-weight:600;
}

.home_slider .views_slideshow_cycle_teaser_section {
    width: 100% !important;
}

.home_slider .views_slideshow_cycle_slide {
    width: 100% !important;
}
.home_slider .views-field.views-field-field-slider-image .field-content img {
    width: 100% !important;
}
.home_slider .region.region-home-slider {
    position: relative;
}

/* goverment issues */




.path-frontpage .full_content_region{
    background: rgba(0, 0, 0, 0) url("../images/home-bg.jpg");
	background-size:cover;
	  padding:60px 0 80px;
	  color:#fff;
	  position:relative;
	  background-position:center;
	  background-size:100%;
	  background-attachment:fixed;
}
.path-frontpage .full_content_region::after {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.full_content_region .region.region-full-content {
    position: relative;
    z-index: 9;
	text-align:center;
}
.key_government > h2 {
    font-size: 40px;
    font-weight: 600;
}
.key_government {
    margin: auto;
    max-width: 920px;
	margin-bottom:50px;
}
.key_gov_content {
    font-size: 18px;
    padding: 0 30px;
}
.issue-sec {
    background:rgba(11, 144, 214, 0.8);
    padding: 30px 20px;
	max-width:270px;
	margin:auto;
	 display:block;
}

.key_title h4 {
    display: table-cell;
    height: 63px;
    line-height: 26px;
    vertical-align: middle;
	font-size:20px;
	font-weight:700;
}
.key_title {
    display: table;
    margin:0 auto 15px;
    max-width: 200px;
    width: 100%;
}
.key_content {
    min-height: 80px;
	font-size:16px;
	font-weight:700;
}
.key_image {
    margin: auto;
    max-width: 90px;
    min-height: 90px;
}
.key_image img {
    display: block;
    margin: auto;
}
/* end goverment issues */



/*.community_news and latest new section*/


.home_slider .region.region-home-slider .views-field.views-field-field-banner-image img {
    margin: auto;
    width: 100%;
}
.community_news {
    padding: 60px 0;
}

.community_events h5, .latest_news h5 {
    color: #484848;
    font-size: 24px;
    font-weight: 600;
}
.community_first_header  h2, .latest_news  h2 {
     border-bottom: 1px solid #dddfe6;
    font-size: 46px;
    margin-top: 0;
    max-width: 450px;
    padding-bottom: 20px
}
.cftitle > a {
    color: #3f3f3f;
    font-size: 24px;
    font-weight: 700;
	text-decoration:none;
}

.latest_news .view-content {
    margin-top: 30px;
}
.cfimage {
    margin-top: 30px;
}
.cftitle {
    padding: 15px 0;
}
.community_events .views-element-container.event-second-sec {
    margin: 20px -15px 0;
}
.cstitle a {
    color: #3f3f3f;
    display: block;
    font-size: 16px;
    font-weight: 800;
    padding: 15px 0;
	text-decoration:none;
}
.cscontent, .cfbody > p, .lnews_body > p

{
    font-size: 14px;
    line-height: 24px;
}

.latest_news_section {
    border-bottom: 1px solid #dddfe6;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.lnews_title > a {
    color:#484848;
    font-size: 20px;
    font-weight: 800;
	text-decoration:none;
}

.latest_news_section .col-sm-3 {
    padding: 0;
}


/* end community_news and latest new section*/



/*inner pages*/


.key_second_section.how_do_secondary .issue-sec {
    color: #ffffff;
    margin-bottom: 25px;
	text-align:center;
}
.main-container {
    margin-top: 90px;
}


.region-sidebar-first .menu.nav.secondary-menu li a 
{
    color: #747474;
    display: block;
	font-size:16px;
}
.region-sidebar-first .menu.nav.secondary-menu
 {
    box-shadow: 1px 2px 5px 3px rgba(204, 204, 204, 0.8);
	max-width:230px;
}


.region-sidebar-first .menu.nav.secondary-menu li .caret {
    float: right;
}


/*================================
   right side for inner pages
===============================*/


.department_sidebar_menu .menu.sf-menu
{
	 box-shadow: 1px 2px 5px 3px rgba(204, 204, 204, 0.8);
    max-width: 230px;
	overflow:hidden;
	
	}

.department_sidebar_menu .menu.sf-menu li
{
	width:100%;
}

.department_sidebar_menu .menu.sf-menu li a
{

   color: #747474;
    display: block;
    font-size: 16px;
	text-decoration:none;
	width:100%;
	line-height:normal;
	padding:8px 30px 8px 10px;
}

body .department_sidebar_menu .sf-depth-2.sf-no-children a::after {

    content: "";
    font-family: fontawesome;
    font-size: 16px;
    height: 20px;
    left: 15px;
    margin: auto;
    position: absolute;
    top: 10px;
    width: 20px;
}

body .department_sidebar_menu .sf-depth-2.sf-no-children a {
    font-size: 13px;
    padding-left: 35px;
    position: relative;
}


.department_sidebar_menu .menu.sf-menu li .sf-hidden {
    display: block;

}
.department_sidebar_menu .menu.sf-menu .sf-sub-indicator::after {
    content: "";
    font-family: fontawesome;
    font-size: 20px;
	right:0;
}

.department_sidebar_menu .menu.sf-menu .sf-sub-indicator.open-arrow::after {
    content: "";
}



.department_sidebar_menu .menu.sf-menu .active-trail.menuparent ul .active-trail {
    padding: 0 0 0 20px;
    position: relative;
}
.department_sidebar_menu .menu.sf-menu .active-trail.menuparent ul .active-trail::after {
    bottom: 0;
    content:"";
    height: 14px;
    left: 22px;
    margin: auto;
    position: absolute;
    top: 0;
    font-family: fontawesome;
	color:#749f2b;
}


.department_sidebar_menu .menu.sf-menu .sf-sub-indicator {
    display: block;
    height: 25px;
    margin: auto;
    text-align: center;
    width: 25px;
}


.department_sidebar_menu .menu.sf-menu > li{
	background:none;
}



.department_sidebar_menu .menu.sf-menu li > ul {
    box-shadow: none;
    height: auto;
    position: relative;
    top: 0;
    width: 100% !important;
}



/*.department_sidebar_menu .menu.sf-menu li.active-trail ul {
    border-radius: 0;
    display: block !important;
    left: 0 !important;
    margin: 0;
    padding: 0 !important;
    position: relative;
    top: auto !important;
    width: 100% !important;
	position:static !important;
}

*/




/*#superfish-secondary-menu li .sf-hidden {
    display: block;
    height: auto !important;
    position: relative !important;
    width: 100% !important;
}*/
/*#superfish-secondary-menu .menuparent ul {
    display: none !important;
}*/
/*#superfish-secondary-menu .active-trail.menuparent ul {
    display: block !important;
}*/

.department_sidebar_menu .menu.sf-menu .active-trail.menuparent a.is-active,
.department_sidebar_menu .menu.sf-menu  .active-trail.menuparent .sf-hidden li a,
.department_sidebar_menu .menu.sf-menu .active-trail a.is-active
 {
    color: #749f2b !important;
}
.department_sidebar_menu .menu.sf-menu .active-trail.menuparent  li a{ font-size:14px;}

/*
.department_sidebar_menu .menu.sf-menu li .sf-hidden {
    display: block;
    height: auto !important;
    overflow: visible !important;
    position: static !important;
    width: auto !important;
}
*/


.department_sidebar_menu .menu.sf-menu  li > ul {
    display: none;
}

.department_sidebar_menu .menu.sf-menu li .sf-hidden {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    position: static !important;
	margin:5px 0;
}


/*============
  quik tabs

===============*/


#block-quicktabscontract-compliance .quicktabs-tabs {
    padding: 0;
}
#block-quicktabscontract-compliance .quicktabs-tabs li a {
    color: #1183aa;
    font-size: 22px;
	text-decoration:none;
}

#block-quicktabscontract-compliance .quicktabs-tabs li.active a {
    color: #749f2b;
}


.Contract_Compliance_block  p {
    color: #828282;
    font-size: 14px;
    line-height: 28px;
}

.Contract_Compliance_block  h4 {
    font-size: 18px;
    font-weight: 600;
}
.Contract_Compliance_block .title_contract,
.Contract_Compliance_block .title_compliance
 {
    margin-bottom: 15px;
    margin-top: 50px;
}


#quicktabs-contract_compliance .search_registry > a {
    border: 2px solid;
    color: #749f2b;
    display: inline-block;
    font-size: 15px;
    min-width: 160px;
    padding: 10px 0;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
}


.search_registry {
    margin-bottom: 20px;
    margin-top: 30px;
}
#block-quicktabscontract-compliance .contract_video,
.Contract_Compliance_block .compliance_video
 {
    margin-top: 15px;
}

.mobile_header {
    display: none;
}



/*==================== footer ===================
===============================================*/

body footer.footer {
    background: #202020;
    color: #fff;
    padding: 0;
}
.footer_bottom {
    background: #151515;
    height: 100px;
}
.region.region-footer-fifth {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
}
.footer-social-icon 
a {
    font-size: 20px;
    padding: 0 10px;
}
.extra_footer h2{ font-size:16px; margin-bottom:20px;}

.extra_footer .nav > li > a{ color:#fff; background:none; padding:10px 0;  border-bottom: 1px solid #404040;}
.extra_footer .nav > li:first-child a {
    padding-top: 0;
}
.extra_footer .nav > li > a:hover,
.extra_footer .nav > li > a:focus {
    background-color:none;
    text-decoration: none;
}
.footer .search-block-form {
    margin-top: 50px;
}
footer .contact_info > div {
    color: #ffff;
    padding: 10px 0;
	font-family: 'Open Sans', sans-serif;
}
.contact_address p {
    display: inline-block;
    font-family: open sans;
    padding-left: 15px;
	font-size:14px;
}
.contact_info .fa {
    font-size: 16px;
}



footer .contact_info span a {
    color: #ffff;
    font-family: open sans;
    padding-left: 15px;
	font-size:14px;
}
footer .contact_info span a:hover {
    color: #fff;
    text-decoration: none;
}
footer .simplenews-subscriber-form.block form label.control-label
{
	display:none;
}

footer .simplenews-subscriber-form.block form input, .simplenews-subscriber-form.block form textarea.form-control
{ background:none;
 border: 1px solid #767676;
    min-height: 40px;


}
.simplenews-subscriber-form.block form textarea.form-control
{
	min-height:90px;
}



footer #edit-subscribe {
    border: none;
    width: 100%;
	padding:0 0;
	background:#76a12e;
	color:#fff;
	height:50px;
	text-transform:uppercase;
}
.footer #block-contactinfo {
    padding-left: 15px;
}
footer .extra_footer {
    padding: 20px 0 50px;
}
footer #block-subtheme-search .form-search.form-control {
    border: medium none;
    font-size: 16px;
    height: 50px;
}
footer #block-subtheme-search .button.js-form-submit {
    background: #fff ;
    border: medium none;
    color: #666666;
    font-size: 24px;
    height: 50px;
    padding: 0 15px;
}
.footer-social-icon {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
}
.footer-social-icon a {
    border-radius: 50%;
    color: #fff;
    display: block;
    float: left;
    height: 40px;
    margin-right: 10px;
    padding: 6px 0 0 3px;
    text-align: center;
    width: 40px;
}
.facebook-icon {
    background: #3b5999;
}
.twitter-icon {
    background: #55acee;
}
.vk-icon {
    background: #4c75a3;
}
.pinterest-icon {
    background: #ff2e56;
}
.tumblr-icon {
    background: #34465d;
}
.dribble-icon{ background:#ea4c89;}
#block-subtheme-search .visually-hidden {
    display: block;
    height: auto;
    overflow: auto;
    position: static !important;
    visibility: visible;
    width: 100%;
	margin-bottom:10px;
}

/*====================End  footer ===================
===============================================*/

.timeline-Header-title{ display:none !important;}
.latest_news_mobile{ display:none;}
.contentheading {
    margin-top: 0;
}





